			<article class="">
				<div class="article-heading">
					<img src="{{ "assets/svg/left.svg" | relative_url }}" />
					<div class="upper-gradient-2 line-v">
						<a class="upper-element upper-text">Главная страница</a>
					</div>
					<div style="flex-grow: 1" class="upper-gradient-2 line-v">
						&nbsp;
					</div>
					<img src="{{ "assets/svg/right.svg" | relative_url }}" />
				</div>
				<div class="article-container">
					<div class="article-body">
							<p class="justify">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue, orci eu accumsan facilisis, ipsum nunc condimentum metus, nec blandit ante ex quis felis. Pellentesque placerat tellus id mi semper, nec imperdiet sem iaculis. Morbi sit amet velit aliquet, vulputate nibh luctus, efficitur ipsum. Vestibulum nec elementum magna, quis consectetur enim. Phasellus neque libero, efficitur vel elit a, mattis tristique mauris. Fusce faucibus lectus facilisis, faucibus tortor molestie, commodo ligula. Aenean sed elit et sem mollis ultrices. Fusce bibendum nisi non odio feugiat ornare. Nulla consequat ac tellus non vulputate. In sed est ipsum. Mauris porttitor mi eu elementum auctor. Mauris at mauris purus. Suspendisse nibh orci, euismod in tortor tempus, facilisis fermentum odio. Curabitur volutpat leo eget justo congue pharetra.

Sed odio enim, luctus ultrices neque quis, convallis semper mi. Sed volutpat nisl velit, et tincidunt sapien condimentum non. Ut sollicitudin, erat non dignissim luctus, arcu urna porta dui, non fringilla lorem dolor ut felis. Sed ac turpis at libero imperdiet pharetra. Maecenas blandit aliquet ante id iaculis. Nunc efficitur, enim sed ultrices tempor, ex lacus finibus sapien, non hendrerit tellus metus a nibh. Aenean luctus ex eu magna tempus, in facilisis nisi convallis. Vestibulum vitae mauris non nibh rutrum vehicula ut eget nulla.
							</p>
							<p class="justify">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue, orci eu accumsan facilisis, ipsum nunc condimentum metus, nec blandit ante ex quis felis. Pellentesque placerat tellus id mi semper, nec imperdiet sem iaculis. Morbi sit amet velit aliquet, vulputate nibh luctus, efficitur ipsum. Vestibulum nec elementum magna, quis consectetur enim. Phasellus neque libero, efficitur vel elit a, mattis tristique mauris. Fusce faucibus lectus facilisis, faucibus tortor molestie, commodo ligula. Aenean sed elit et sem mollis ultrices. Fusce bibendum nisi non odio feugiat ornare. Nulla consequat ac tellus non vulputate. In sed est ipsum. Mauris porttitor mi eu elementum auctor. Mauris at mauris purus. Suspendisse nibh orci, euismod in tortor tempus, facilisis fermentum odio. Curabitur volutpat leo eget justo congue pharetra.

Sed odio enim, luctus ultrices neque quis, convallis semper mi. Sed volutpat nisl velit, et tincidunt sapien condimentum non. Ut sollicitudin, erat non dignissim luctus, arcu urna porta dui, non fringilla lorem dolor ut felis. Sed ac turpis at libero imperdiet pharetra. Maecenas blandit aliquet ante id iaculis. Nunc efficitur, enim sed ultrices tempor, ex lacus finibus sapien, non hendrerit tellus metus a nibh. Aenean luctus ex eu magna tempus, in facilisis nisi convallis. Vestibulum vitae mauris non nibh rutrum vehicula ut eget nulla.
							</p>
					</div>
					<div class="article-footer">
						<div>Загружено 01.01.1337</div>
					</div>
				</div>
			</article>
