<header>
	<nav class="upper">
		<div class="flex-container">
			<div style="background: white;" class="line-under upper-gradient">
				<span>
					<a id="upper-logo" class="upper-text">{{ site.title }}</a>
				</span>
			</div>
			{% for page in site.pages %}
				{% if page.layout == "home" %}
				<img style="background: white;" id="separator" src="{{ "assets/svg/sep.svg" | relative_url }}" />
					<div class="upper-gradient-2 line-under">
						<a href="{{ "" | absolute_url }}/" class="upper-element upper-text upper-link">{{ page.title }}</a>
					</div>
				{% endif %}
			{% endfor %}
			<img id="separator" src="{{ "assets/svg/sep-2.svg" | relative_url }}" />
			<div style="flex-grow: 1" class="upper-gradient-2 line-under">
				&nbsp;
			</div>
		</div>
	</nav>
</header>
