<!DOCTYPE html>

{% include head.html %}

<body>
	<div id="main-box" >
		{% include header.html %}
		<main>
			{% for post in site.posts %}
				{% if post.title != 404 %}
					<article class="">
						<div class="article-heading">
							<img src="{{ "assets/svg/left.svg" | relative_url }}" />
							<div class="upper-gradient-2 line-v">
								<a href="{{ post.url | relative_url}}" class="upper-element upper-text upper-link">{{ post.title }}</a>
							</div>
							<div style="flex-grow: 1" class="upper-gradient-2 line-v">
								&nbsp;
							</div>
							<img src="{{ "assets/svg/right.svg" | relative_url }}" />
						</div>
						<div class="article-container">
							<div class="article-body">
								{{ post.content }}
							</div>
							<div class="article-footer">
								<div>{{ post.date }}</div>
							</div>
						</div>
					</article>
				{% endif %}
			{% endfor %}
		</main>
		<div id="position-container">
			&nbsp;
		</div>
		<footer>
			2024 - Ванин Дмитрий
		</footer>
	</div>
</body>
